<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>
<header class="header" th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a th:href="@{/}" class="navbar-brand">ParkingApp</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" th:href="@{/login}">Iniciar Sesión</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/register}">Registro</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
</body>
</html>