body {
    background-color: #f0f8ff; /* Azul claro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 255, 0.2);
    width: 100%;
    max-width: 400px;
}

h2 {
    color: #0056b3;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-google {
    background-color: #db4437;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.btn-google:hover {
    background-color: #c1351d;
}
